@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7" style="padding-top: 5rem;">
            <h1 class="display-4" style="color: #00a73c"><img src="~/Content/css-yisus/img/exclamacion.svg" style="width: 45px;height: auto; padding-bottom: 10px;"> Oops! Algo salió mal</h1>
            <hr />
            <p class="lead">
                ¡Lo sentimos! Estamos experimentando problemas técnicos, pronto estará disponible.
            </p>
            <button class="btn btn-warning" style="float: right; color: white" onclick="location.href='@Url.Action("Index", "Home")'"><img src="~/Content/css-yisus/img/flecha.svg" style="width: 7px; height:auto; padding-bottom: 2px;" /> Inicio</button>
        </div>
    </div>
    <img src="~/Content/css-yisus/img/siva.jpeg" class="img-center" style="width: 60px; height: auto; padding-top: 40px;" />

</div>
<!-- /.container -->