<div class="table-responsive">
    <table id="example_table" class="table table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Número de cuenta</th>
                <th scope="col">Tipo de cuenta</th>
                <th scope="col">Saldo de cuenta</th>
                <th scope="col">Estatus de cuenta</th>
                <th scope="col">Fecha registro cuenta</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
    </table>
</div>