@font-face {
    font-family: fjalla;
    src: url(FjallaOne-Regular.ttf);
}
.signout{
    width:20px;
    height: auto;
}
.table-style {
    background-color: #00a73c;
    color: white;
}
.btn-buscar {
    background-color: #5DADE2;
    color: white;
}
    .btn-buscar:hover {
        background-color: #00a73c;
        color: white;
    }
.btn-tabla {
    background-color: #f16021;
    color: white;
}
    .btn-tabla:hover {
        background-color: #d35400;
        color: white;
    }
.hacia-arriba {
    padding: 15px;
    /*establecemos espacios en el boton*/
    display: inline-block;
    background: #222;
    /*establecemos un color de fondo*/
    color: #fff;
    /*cambiamos el color de la fuente*/
    position: fixed;
    /*lo ponemos fijo a pantalla*/
    font-size: 20px;
    /*establecemos un tamaño a nuestra fuente*/
    bottom: 20px;
    /*establecemos un espacio de abajo*/
    right: 20px;
    /*establecemos un espacio de la parte derecha de nuestro sitio*/
    cursor: pointer;
    /*a la hora de que el usuario pase el mause cambie a una manita para que pueda darle click*/
    border-radius: 4.7px;
    /*establecemos un redondeado al boton, esto puede variar*/
}

.icon-ctrl {
    padding-top: 15px;
    margin-bottom: 45px;
    /*acomodamos el icono*/
    z-index: 1;
}

.search {
    width: 20px !important;
    height: auto;
    padding-left: 5px !important;
}

.espacio {
    margin-bottom: 20px !important;
}

.img-modal {
    width: 25px !important;
    height: auto !important;
}

.img-modal2 {
    width: 20px !important;
    height: auto !important;
}

.tamano {
    width: 50px !important;
    height: auto;
}

.botonbuscar {
    width: 100% !important;
    border-radius: 20px !important;
    border: 0;
    box-shadow: 0px 5px 0px 0px #21618C;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-family: fjalla !important;
    margin-top: 7px !important;
}

    .botonbuscar:active {
        box-shadow: 0px 2px 0px 0px #21618C !important;
        transform: translateY(5px);
    }

.botoncancelar {
    width: 100% !important;
    border-radius: 20px !important;
    border: 0;
    box-shadow: 0px 5px 0px 0px #97170C;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-family: fjalla !important;
    margin-top: 7px !important;
}

    .botoncancelar:active {
        box-shadow: 0px 2px 0px 0px #97170C !important;
        transform: translateY(5px);
    }

.botonaceptar {
    width: 100% !important;
    border-radius: 20px !important;
    border: 0;
    box-shadow: 0px 5px 0px 0px #196F3D;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-family: fjalla !important;
    margin-top: 7px !important;
}

    .botonaceptar:active {
        box-shadow: 0px 2px 0px 0px #196F3D !important;
        transform: translateY(5px);
    }

.boton-cerrar {
    width: 100% !important;
    border-radius: 20px !important;
    border: 0;
    box-shadow: 0px 5px 0px 0px #A91111 !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-family: fjalla !important;
    margin-top: 7px !important;
}

.boton-inicio {
    overflow: hidden;
    width: 100% !important;
    height: 180px !important;
    background-color: #f16021;
    border-radius: 20px;
    color: white;
    border: 0;
    box-shadow: 0px 10px 0px 0px #BF360C;
    padding-top: 40px;
    padding-bottom: 12px;
    font-family: fjalla;
    font-size: 1.3rem !important;
    margin-top: 7px;
    vertical-align: middle !important;
}

    .boton-inicio:hover {
        color: white;
    }

    .boton-inicio:active {
        box-shadow: 0px 4px 0px 0px #BF360C;
        transform: translateY(5px);
    }
.boton-inicioinactive {
    overflow: hidden;
    width: 100% !important;
    height: 180px !important;
    background-color: #b2babb;
    border-radius: 20px;
    color: white;
    border: 0;
    box-shadow: 0px 10px 0px 0px #616a6b;
    padding-top: 40px;
    padding-bottom: 12px;
    font-family: fjalla;
    font-size: 1.3rem !important;
    margin-top: 7px;
    vertical-align: middle !important;
}

    .boton-inicioinactive:hover {
        color: white;
    }

    .boton-inicioinactive:active {
        box-shadow: 0px 4px 0px 0px #616a6b;
        transform: translateY(5px);
    }


/* LOGIN */
.textboxstyle {
    height: 100px !important;
    border-radius: 40px !important;
    font-size: 25px !important;
    background-color: white !important;
    border-color: white !important;
}

.loginlogo {
    margin: 0px auto;
    display: block;
    padding-bottom: 30px !important;
    padding-top: 10% !important;
    width: 200px !important;
    height: auto !important;
}

/* NAV BAR */
.navstyle {
    background-color: #00a73c !important;
    color: white !important;
    font-family: fjalla;
    letter-spacing: 1px;
}

.k-grid-Eliminar {
    color: white !important;
    text-decoration: none;
}

.k-grid-Nuevacuenta {
    color: white !important;
    text-decoration: none;
}

.k-grid-Editar {
    color: white !important;
    text-decoration: none;
}

.k-grid-Vercuentas {
    color: white !important;
    text-decoration: none;
}

.k-grid-Vertags {
    color: white !important;
    text-decoration: none;
}

.k-grid-Activar {
    color: white !important;
    text-decoration: none;
}

.k-grid-Deshabilitar {
    color: white !important;
    text-decoration: none;
}

.k-grid-Nuevotag {
    color: white !important;
    text-decoration: none;
}



.text-align-center {
    text-align: center;
}

.logonav {
    width: 30px;
    height: auto;
    margin-right: 20px;
}
/* FOOTER */
footer {
    position: fixed;
    background-color: black;
    bottom: 0 !important;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 9999 !important;
}

#footerstyle {
    margin: 0 !important;
}

.imgfooterstyle {
    width: 110px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.custom {
    color: #eb1c2c !important;
}

/* BOTONES */
.botonstyle {
    background-color: #f16021;
    border-radius: 20px;
    color: white;
    border: 0;
    box-shadow: 0px 5px 0px 0px #BF360C;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: fjalla;
    width: 90px;
    margin-top: 7px;
}

    .botonstyle:hover {
        background-color: #f16021;
        border-radius: 20px;
        color: white;
        border: 0;
        box-shadow: 0px 5px 0px 0px #BF360C;
        padding-top: 12px;
        padding-bottom: 12px;
        font-family: fjalla;
        width: 90px;
        margin-top: 7px;
    }

    .botonstyle:active {
        box-shadow: 0px 2px 0px 0px #BF360C;
        transform: translateY(2px);
    }

.botonstyle2 {
    margin-top: 7px;
    background-color: #f16021;
    border-radius: 20px;
    color: white;
    border: 0;
    box-shadow: 0px 5px 0px 0px #BF360C;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: fjalla;
    padding-left: 10px;
    padding-right: 10px;
}

    .botonstyle2:hover {
        margin-top: 7px;
        background-color: #f16021;
        border-radius: 20px;
        color: white;
        border: 0;
        box-shadow: 0px 5px 0px 0px #BF360C;
        padding-top: 8px;
        padding-bottom: 8px;
        font-family: fjalla;
        padding-left: 10px;
        padding-right: 10px;
    }

    .botonstyle2:active {
        box-shadow: 0px 2px 0px 0px #BF360C;
        transform: translateY(2px);
    }

.botonstyle3 {
    margin-top: 7px;
    border-radius: 20px;
    color: white;
    border: 0;
    box-shadow: 0px 5px 0px 0px #A91111;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: fjalla;
    padding-left: 10px;
    padding-right: 10px;
}

    .botonstyle3:hover {
        margin-top: 7px;
        border-radius: 20px;
        color: white;
        border: 0;
        box-shadow: 0px 5px 0px 0px #A91111;
        padding-top: 8px;
        padding-bottom: 8px;
        font-family: fjalla;
        padding-left: 10px;
        padding-right: 10px;
    }

    .botonstyle3:active {
        box-shadow: 0px 2px 0px 0px #A91111;
        transform: translateY(2px);
    }

/* TITULOS */
.titulo1 {
    margin-top: 10px !important;
    color: black !important;
    font-size: 30px !important;
    font-family: fjalla;
}

.titulo2 {
    margin-top: 10px !important;
    color: black !important;
    font-size: 20px !important;
    font-family: fjalla;
}

.titulo3 {
    margin-top: 10px !important;
    color: black !important;
    font-size: 13px !important;
    font-family: fjalla;
}

.titulo4 {
    color: black !important;
    font-size: 13px !important;
    font-family: fjalla;
}


/* DROPDOWN BUTTONS */
.dropdown1 {
    margin-top: 7px;
    background-color: #eb1c2c !important;
    color: white;
}

.dropdown2 {
    margin-top: 7px;
    background-color: white !important;
    color: #eb1c2c !important;
    border: 2px solid #eb1c2c !important;
}

/* FORMULARIOS */
.formulario1 {
    border: 1.3px solid #2980B9 !important;
}

.formulario2 {
    border: 1.3px solid #2980B9 !important;
}

.formulario3 {
    border: 1.3px solid #2980B9 !important;
}

/* INPUT */
.input1 {
    border: 1.3px solid #2980B9 !important;
    border-radius: 5px;
}

/* TABLA */
#tabla1 {
    background-color: #eb1c2c !important;
    border-color: #eb1c2c !important;
    color: white !important;
}

#tabla2 {
    background-color: #eb1c2c !important;
    border-color: #eb1c2c !important;
    color: white !important;
}

/* BOTÓN INPUT */
.custom-file-input {
    z-index: none !important;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

    .fileContainer [type=file] {
        cursor: pointer;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
    }

.botoninput1 {
    background-color: #eb1c2c !important;
    color: white;
    border-color: #eb1c2c !important;
    width: 170px;
    border-radius: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.botoninput2 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white !important;
    width: 170px;
    color: #eb1c2c !important;
    border-color: #eb1c2c !important;
    border-radius: 40px;
}

/* EXTRA*/
.hiddenstyle {
    padding-left: 0 !important;
}

.form-horizontal {
    height: 100% !important;
}

body {
    padding-top: 5rem;
    margin-bottom: 5rem;
}

::-moz-selection {
    background: #eb1c2c;
    text-shadow: none;
}

::selection {
    background: gray;
    text-shadow: none;
}

/*LINKS*/
.link1 {
    color: red !important;
}
/*LOGIN*/
.col-center {
    /*float: none;
    margin: 0 auto;*/
    margin: 0px auto !important;
    display: block !important;
}

.textboxstyle {
    height: 100px !important;
    border-radius: 40px !important;
    font-size: 25px !important;
    background-color: white !important;
    border-color: white !important;
}

.loginlogo {
    margin: 0px auto;
    display: block;
    padding-bottom: 30px !important;
    padding-top: 10% !important;
}

body {
    background-color: whitesmoke !important;
    padding-bottom: 60px;
}

.textlogin {
    font-size: 10vh;
    color: #eb1c2c !important;
}

.userlogin {
    font-size: 5rem;
}

.shine {
    margin-top: 20px !important;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    position: relative;
    pointer-events: none;
}

a.shine {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 300%;
    animation: shine 4s infinite;
    pointer-events: none;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.sirotext {
    color: white;
    font-size: .8em;
    position: relative;
    display: inline-block;
    opacity: .6;
    pointer-events: none;
    text-decoration: none;
    margin: 10px;
}

.intl-tel-input .iti-flag .arrow {
    border: none;
}

/*workaround*/
.intl-tel-input {
    display: table-cell;
}

    .intl-tel-input .selected-flag {
        z-index: 4;
    }

    .intl-tel-input .country-list {
        z-index: 5;
    }

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}

.intl-tel-input {
    width: 100%;
}
.margin-section {
    border: 1px solid #E5E7E9 !important;
    border-radius: 5px !important;
    padding: 10px !important;
    background-color: white;
}
.nav-button-new2 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #5DADE2;
    border-radius: 5px;
    color: white;
    border: 0;
    height: 90%;
}

    .nav-button-new2:hover {
        background-color: #5DADE2;
        border-radius: 5px;
        color: white;
        border: 0;
        opacity: .7;
    }

.tamano {
    width: 50px !important;
    height: auto;
}

.tamano2 {
    width: 90px !important;
    height: auto;
}

.rojo {
    color: #00a73c !important;

}
