@model PuntoDeVenta.Models.EncabezadoReporteCajero
@using PuntoDeVenta
@using Telerik.Reporting
@using Telerik.ReportViewer.Mvc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{

    @* Links and scripts from the report viewer *@
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="http://kendo.cdn.telerik.com/2015.3.930/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://kendo.cdn.telerik.com/2015.3.930/styles/kendo.blueopal.min.css" rel="stylesheet" />
    <style>
        #reportViewer1 {
            position: absolute;
            left: 50px;
            right: 50px;
            top: 80px;
            bottom: 80px;
            overflow: hidden;
            clear: both;
        }
    </style>
    @* End of the head resources*@
}

@section scripts
{
    @* Scripts from the report view. Note that in order to be fired, they need to be at the end of the body
        "RestServiceTelerik.Reports.ReportCajero, RestServiceTelerik, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"*@
    <script src="@Url.Content("~/ReportViewer/js/telerikReportViewer.kendo-12.1.18.620.min.js")"></script>
    <script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-12.1.18.620.min.js")"></script>
    @*End of the scripts*@
}

@{
    var typeReportSource = new TypeReportSource() { TypeName = typeof(RestServiceTelerik.Reports.ReportCajero).AssemblyQualifiedName };
    typeReportSource.Parameters.Add("Cajero", Model.Cajero);
    typeReportSource.Parameters.Add("NumCorte", Model.NumCorte);
    typeReportSource.Parameters.Add("Fecha", Model.Fecha);
    typeReportSource.Parameters.Add("HoraI", Model.HoraI);
    typeReportSource.Parameters.Add("HoraF", Model.HoraF);
    typeReportSource.Parameters.Add("TotalMonto", Model.TotalMonto);
    typeReportSource.Parameters.Add("Comentario", Model.Comentario);
}

<div class="container">
    @(Html.TelerikReporting().ReportViewer()
            .Id("reportViewer1")
            .ServiceUrl(Url.Content("http://localhost:56342/api/reports"))
            .ReportSource(typeReportSource)
            .ViewMode(ViewMode.Interactive)
            .ScaleMode(ScaleMode.Specific)
            .Scale(1.0)
            .PersistSession(false)
            .PrintMode(PrintMode.AutoSelect)
            .EnableAccessibility(false)
    )
</div>
