@model PuntoDeVenta.Models.EncabezadoReporteCajero
@using PuntoDeVenta
@using Telerik.Reporting
@using Telerik.ReportViewer.Mvc

@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
}

@{
    var typeReportSource = new TypeReportSource() { TypeName = "RestServiceTelerik.Reports.ReportMovCajero, RestServiceTelerik, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" };
    typeReportSource.Parameters.Add("Cajero", Model.Cajero);
    typeReportSource.Parameters.Add("NumCorte", Model.NumCorte);
    typeReportSource.Parameters.Add("HoraI", Model.HoraI);
    typeReportSource.Parameters.Add("HoraF", Model.HoraF);
    typeReportSource.Parameters.Add("TotalMonto", $"Q{Model.TotalMonto}");
    typeReportSource.Parameters.Add("Comentario", Model.Comentario);
    typeReportSource.Parameters.Add("SubTotalRecar", $"Q{Model.SubtotalRecar}");
    typeReportSource.Parameters.Add("VentaTags", $"Q{Model.VentaTag}");
}

<div class="container">
    @(Html.TelerikReporting().ReportViewer()
        .Id("reportViewer1")
        .ServiceUrl(Url.Content("http://192.168.1.179:56342/api/reports/"))
        .ReportSource(typeReportSource)
        .ViewMode(ViewMode.Interactive)
        .ScaleMode(ScaleMode.Specific)
        .Scale(1.0)
        .PersistSession(false)
        .PrintMode(PrintMode.AutoSelect)
        .EnableAccessibility(false)
    )
</div>
