@model PuntoDeVenta.Models.TableHistorico
@{
    ViewBag.Title = "Tabla_Historico";
}




<div class="container">
    <h2>Tabla de Historico</h2>


    <div class="row justify-content-center">
        <div class="col-md-12">

            <div id="Mensaje" class=" jumbotron ">

                <p class="display-4" style="font-size:5vw">DATOS SELECCIONADOS</p>

                <a style="padding-right:8px; font-size:15px;" id="Cuen">Cuenta:{{ Cuenta }}</a>
                <a style="padding-right:8px; font-size:15px;">Fecha:{{ Fecha1 }}</a>
                <a style="padding-right:8px; font-size:15px;">Fecha:{{ Fecha2 }}</a>
                <a style="padding-right:8px; font-size:15px;">Saldo:{{ Saldo }}</a>
                <a style="padding-right:8px; font-size:15px;">Movimientos:{{ Movimientos }}</a>
                <a style="padding-right:8px; font-size:15px;" id="mess">{{ message }}</a>

                <div>@Html.ActionLink("EXPORTAR A PDF", "Pdf", "Historico", new { }, new { @class = "btn btn-info", @id = "Pdf" })</div>




            </div>
        </div>
    </div>




    <div id="aboutPage">
        <template v-if="mostrar">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tag</th>
                        <th>Delegacion</th>
                        <th>Plaza</th>
                        <th>Fecha</th>
                        <th>Tramo</th>
                        <th>Carril</th>
                        <th>Clase</th>
                        <th>Cobro</th>
                        <th>Operadora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>{{item.Id}}</td>
                        <td>{{item.Tag}}</td>
                        <td>{{item.Delegacion}}</td>
                        <td>{{item.Plaza}}</td>
                        <td>{{item.Fecha}}</td>
                        <td>{{item.Cuerpo}}</td>
                        <td>{{item.Carril}}</td>
                        <td>{{item.Clase}}</td>
                        <td>{{item.Saldo}}</td>
                        <td>{{item.Operador}}</td>
                    </tr>
                </tbody>

            </table>
        </template>

    </div>

</div>



@section Scripts {




    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {


            var json = @Html.Raw(Json.Encode(Model.ListaHistorico));
            var info = @Html.Raw(Json.Encode(Model.Info));
            console.log(JSON.stringify(json))
            console.log(JSON.stringify(info))

                if (json == null) {


                    $('#Pdf').hide();

                    var Mensaje = new Vue({
                        el: '#Mensaje',
                        data: {
                            message: 'Aviso: NO HAY CRUCES...',
                            muestra: true,

                        }

                    })


                    var aboutPage = new Vue({
                        el: '#aboutPage',
                        data: {

                            items: json,
                            mostrar: false
                        }
                    });

                } else {

                    if (info.Tipo == 'SOLO_FECHA') {

                        $('#Cuen').remove();

                        var Mensaje = new Vue({

                            el: '#Mensaje',
                            data: {

                                Fecha1: info.Fecha_Inicio,
                                Fecha2: info.Fecha_Fin,
                                muestra: true,

                            }

                        })


                    }
                    else {


                        $('#mess').remove();

                        var Mensaje = new Vue({
                            el: '#Mensaje',
                            data: {
                                Saldo: info.Saldo_,
                                Fecha1: info.Fecha_Inicio,
                                Fecha2: info.Fecha_Fin,
                                Movimientos: info.Movimientos,
                                Cuenta: info.Cuenta,
                                muestra: true,

                            }

                        })


                    }



                    var mensaje = false;
                    var aboutPage = new Vue({
                        el: '#aboutPage',
                        data: {

                            items: json,
                            mostrar: true
                        }
                    });
                }



            });
    </script>


}


